* {
  all: unset;
}

.speaker {
  color: $speaker_color;
  border-radius: 0.5em;
  &.muted {
    color: $speaker_color_muted;
  }
}
.audio {
  color: $audio_color;
  border-radius: 0.5em;
}
.mic {
  color: $mic_color;
  border-radius: 0.5em;
  &.muted {
    color: $mic_color_muted;
  }
}
.brightness {
  color: $brightness_color;
  border-radius: 0.5em;
}

.icon_block:hover {
  background-color: $bg_alt;
  border-radius: 0.5em;
}

.audio_brightness {
  .circle {
    background-color: $bg_alt;
    color: $gold;
  }
  .circle_top {
    color: $gold;
  }
  .label {
    font-size: 150%;
  }
  .text {
    font-size: 110%;
    font-weight: bold;
    font-family: "JetBrains Mono";
  }
  .kanji {
    font-weight: 500;
    font-size: 250%;
  }

  .button {
    border-radius: 0.5em 0.5em 0em 0em;
    padding-top: 5px;
    border: solid 1px $grey;
    border-bottom-width: 0px;
    background-color: $bg_alt_transparent;
  }
  .button:hover {
    background-color: $bg_button;
    &.selected {
      background-color: $bg_alt_transparent;
    }
  }
  .border_box {
    background-color: $bg;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: $grey;
    &.selected {
      background-color: $bg_alt_transparent;
      border-bottom-width: 0px;
      border-left-width: 1px;
      border-right-width: 1px;
    }
  }
  .dev_list {
    padding: 20px 10px 20px 10px;
    border-radius: 0em 0em 0.5em 0.5em;
    border: solid 1px $grey;
    border-top-width: 0px;
    background-color: $bg_alt_transparent;
  }
  .dev_entry {
    background-color: $bg;
    border-radius: 0.5em;
    .separator {
      border-style: solid;
      border-left-width: 1px;
      border-color: grey;
    }
    .button {
      border-radius: 0.5em;
      border: solid 1px $gold;
      background-color: $bg;
    }
    .label {
      font-size: 100%;
    }
    .checkmark {
      font-size: 180%;
      font-weight: bold;
    }
  }
}
