@use "sass:string";
@use "sass:color";

// some kanagawa colours
$bg-color: #1F1F28;
$bg-color-darker: #16161D;
$bg-color-lighter: color.adjust($bg-color, $lightness: 10%);
$bg-color-lighter-lighter: color.adjust($bg-color, $lightness: 20%);

$fg-color: #DCD7BA;
$fg-color-darker: #C8C093;

$c-yellow: #DCA561;
$c-yellow-vibrant: #FF9E3B;

$c-red: #E46876;
$c-red-vibrant: #FF5D62;

$c-green: #76946A;
$c-green-vibrant: #98BB6C;

$c-blue: #658594;
$c-blue-vibrant: #7E9CD8;

$c-violet: #938AA9;
$c-violet-vibrant: #957FB8;

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

