@use "./style/colours" as *;
@use "./style/utils";

.icon {
  padding: 2px;
  min-width: 20px;
  min-height: 20px;
}

window#bar {
  background-color: $bg-color-darker;

  .Workspaces {
    .workspace {
      @include utils.reset-button;
      @include utils.pill-button;
    }
  }

  .ResourceUsage {
    @include utils.pill-button;
    padding-left: 10px;
    padding-right: 10px;

    .cpu {
    }

    .memory {
    }

    .medium .icon {
      color: $c-yellow;
    }

    .high .icon {
      color: $c-red;
    }

    icon {
      min-width: 32px;
      min-height: 32px;
      
    }
  }

  .CurrentCluster {
    @include utils.pill-button;

    padding-right: 0.8rem;

    icon {
      min-width: 32px;
      min-height: 32px;
    }
  }

  .LaptopStuff {
    @include utils.reset-button;
    @include utils.pill-button;

    padding: 0;

    icon {
      margin: 0;
      min-height: 32px;
      min-width: 32px;
      border-radius: 999px;

      &.wifi-danger {
        color: $c-yellow; // anti iso violation
      }

      &.battery {
        -gtk-icon-style: symbolic;
      }
    }

    &.battery-needs-juice .battery {
      color: $c-yellow;
    }

    &.battery-low .battery {
      color: $c-red;
    }

    @include utils.fade-bg-between(notify-red, $c-red);

    &.battery-critical {
      animation: notify-red 4s ease infinite;

      .battery {
        color: $c-red;
      }
    }
  }

  .AudioBluetooth button {
    @include utils.reset-button;
    @include utils.pill-button;

    padding-left: 10px;
    padding-right: 10px;

    icon {
      margin: 0;
      border-radius: 9999px;
      min-height: 32px;
      min-width: 32px;

      &.muted {
        color: $c-red;
        // my Papirus icon has opacity set to 0.35 for the muted icon. Unfortunately
        // this cannot be changed, as the inline style through which that is set takes precedence.
        opacity: 1.0; 
      }

      &.Bluetooth.connected {
        background-color: $c-blue;
      }
    }
  }

  .Tray {
    @include utils.pill-button;

    button {
      @include utils.reset-button;
      border-radius: 500px;

      &:hover {
        background-color: $bg-color-lighter;
      }
    }
  }

  .DateTime {
    @include utils.pill-button;
    padding: 0 .4rem;
    // background-color: $bg-color-lighter;
    background-color: transparent;

    .time {
      font-weight: bold;
    }
  }
}
